<app-navbar></app-navbar><!-- Navbar (Header) -->
<div class="wrapper">
    <app-header></app-header> <!-- Horizontal menu content-->
    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <!-- cards Starts-->
                <router-outlet></router-outlet>
                <!-- cards end-->
            </div>
        </div>
        <app-footer></app-footer><!-- BEGIN : Footer-->
    </div>
</div>